body {
    background-color: black;
}

/* https://www.w3schools.com/howto/howto_css_style_header.asp */
.header {
    padding: 5px;
    text-align: center;
    background: #4e418c;
    color: white;
    font-size: 30px;
    margin-bottom: 5px;
}

.header a {
    color: #a7a7a7;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
